.container {
  width: 640px;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
}

.main, .article_item {
  display: flex;
  margin-bottom: 24px;
}

.article_item:last-of-type {
  margin-bottom: 0;
}

.article_content {
  margin: 0 20px;
}

.footer {
  text-align: center;
}